body{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.visual{
    height: 100vh;
    width: 50vw;
}
.visual .all{
    border-radius: 0px 0px 340px 340px;
    background-image: linear-gradient(90deg,#6587FF,#516DFD,#4755D4, #4755D4);
    position: relative;
    rotate: -50deg;
}
.v1{
    height: 800px;
    width: 400px;
    top: -100px;
    left: -80px;
}
.v1_opacity{
    height: 884px;
    width: 470px;
    opacity: .3;
    top: -950px;
    left: -130px;
    animation: pulse 3s infinite;
    animation-direction: alternate, reverse;
}
.v2{
    height: 400px;
    width: 200px;
    top: -1900px;
    left: 280px;
}

.v3{
    height: 300px;
    width: 150px;
    top: -1500px;
    left: -10px;
}

.v4{
    height: 5600px;
    width: 200px;
    border-radius: 0px 0px 340px 340px;
    background-image: linear-gradient(90deg,#6587FF,#516DFD,#4755D4, #4755D4);
    position: relative;
    top: -2650px;
    left: 2300px;
    rotate: 130deg;
    
}
@keyframes pulse {
    to{
      transform: scale(1.05);
    }
}
a{
    text-decoration: none;
}

header{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 100px;
}
h1{
    font-size: 46px;
}

form{
    display: flex;
    gap: 40px;
    font-size: 14px;
}
input{
    height: 62px;
    width: 345px;
    border-radius: 12px;
    border: 2.5px solid #9E9E9E;
    padding-inline: 12px;
    transition: .3s;
    font-size: 20px;
}
.card p{
    padding-left: 12px;
}
.conteiner-card{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.interactions{
    width: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-top: 70px;
}

.btn-return{
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #A0A0A0;
    gap: 4px;
    transition: .4s;
    cursor: pointer;
}
.btn-return:hover{
    color: #6A6A6A;
    transform: scale(.95);
}

.btn-register{
    height: 65px;
    width: 231px;
    background-image: linear-gradient(90deg,#6587FF,#516DFD,#4755D4, #4755D4);
    border: none;
    border-radius: 24px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    cursor: pointer;
}
.btn-register:hover{
    transform: scale(.95);
}